{% extends "residents/template.html" %}
{% block navButton %}
<li class="smooth-menu">
  <a href="/logout">
    <button class="btn btn-danger"> <i class="fa fa-sign-out"> </i> Logout</button>
  </a>
</li>
{% endblock %}
{% block resident %}
<div class="col-sm-12">
  <h2 class="page-header">Add an Advertisements or Offers</h2>
  <div class="col-sm-12 row">
    <div class="col-sm-6" style="margin-block: 10px;">
      <button style="width: 100%;font-weight:600;" onclick="togglePage()" class="btn">Add Offers</button>
    </div>
    <div class="col-sm-6" style="margin-block: 10px;">
      <button style="width: 100%;font-weight:600;" onclick="togglePage()" class="btn">Add Advertisement</button>
    </div>
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div id="firstpage" class="row">
    <form action="/addOffer" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 style="font-size: 18px;font-weight:800;">Add an offer</h2>
          <hr>
        </div>
        
        <div class="col-md-6">
          <div>
            <input type="text" class="form-control" placeholder="Title or name of store" name="title" required />
          </div>
          <script>
            function addMoreContent() {
              let cnt = document.getElementById('count').value;
              let contentEle = document.getElementById('adContent')
              let inpELe = document.createElement('input')
              let name = "content" + cnt
              console.log(name)
              inpELe.setAttribute('name', name)
              inpELe.setAttribute('class', 'form-control')
              inpELe.setAttribute('type', 'text')
              let plac = "Content " + cnt
              inpELe.setAttribute('placeholder', plac)
              inpELe.setAttribute('maxlength', 35)
              contentEle.appendChild(inpELe)
              document.getElementById('count').value = ++cnt
              if (cnt > 5) {
                document.getElementById('addBtn').disabled = true
              }
            }
          </script>
          <div>
            <label>Advertisement/Offer content : </label><br>
            <small class="text-warning">For example: 20% off on notebooks</small>
            <div id="adContent">
              <input type="hidden" name="cnt" value="2" id="count">
              <input class="form-control" type="text" name="content1" maxlength="35" placeholder="Content 1" required>
            </div>
            <span style="float: right;"><button type="button" id="addBtn" class="btn" onclick="addMoreContent()"><i
                  class="fa fa-plus"></i> Add More</button><br><small class="text-warning">(min 5
                contents)</small></span>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-control-label" for="">Upload your store image</label>
          <input type="file" name="file" class="form-control" required />
          <strong style="float: left;">
            <label style="float: left;">Select location(optional): </label>
          </strong>
          <br>
          <br>
          <small class="text-warning" style="float: left;">
            Warning: Please make sure you are at the exact location.
          </small>
          <br>
          <input type="hidden" id="lat" name="latitude" />
          <input type="hidden" id="lng" name="longitude" />
          <div id="locationPicker" style="border:0; border-radius:10px;width:100%; height:300px">
            <!-- location picker body  -->
          </div>
        </div>
        <div class="col-sm-12" style="display:flex;justify-content:center ;">
          <div class="about-btn">
            <button type="submit" class="about-view add-articles-btn">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="secondpage" class="row" style="display:none;">
    <form action="addAdvertisement" method="post" enctype="multipart/form-data">
      <div class="col-sm-12 text-center">
        <h2 style="font-size: 18px;font-weight:800;">Add an advertisement</h2>
        <hr>
      </div>
      <label class="form-control-label" for="">Upload your advertisement poster</label>
      <input type="file" name="file" class="form-control" />
      <div class="about-btn">
        <button type="submit" class="about-view add-articles-btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}