{% extends "residents/template.html" %}
{% block navButton %}
<li class="smooth-menu">
    <a href="/logout">
        <button class="btn btn-danger"> <i class="fa fa-sign-out"> </i> Logout</button>
    </a>
</li>
{% endblock %}
{% block resident %}

<div class="col-sm-12">
    <form action="/addEvent" method="post" enctype="multipart/form-data">
        <h2 class="page-header">Add an Event</h2>
        <div id="firstpage" class="row">
            <div class="col-sm-12 ">
                <div>
                    <input type="text" class="form-control" name="ename" placeholder="Event Name" required />
                </div>
                <div>
                    <input type="text" class="form-control" name="organizer" placeholder="Organizer" required />
                </div>
                <div>
                    <input type="text" class="form-control" name="edate" onclick="(this.type='date')" placeholder="Date"
                        required />
                </div>
                <div>
                    <input type="text" class="form-control" name="etime" placeholder="Time" onclick="(this.type='time')"
                        required />
                </div>
                <div>
                    <input type="text" class="form-control" name="venue" placeholder="Event Venue" required />
                </div>

            </div>
            <div class="col-sm-12">
                <div class="about-btn">
                    <button type="button" class="about-view add-events-btn" onclick="togglePage()">
                        Next
                    </button>
                </div>
            </div>
        </div>
        <div id="secondpage" class="row" style="display:none;">
            <div class="col-md-6">
                <strong style="float: left;">
                    <label style="float: left;">Select event location : </label>
                </strong>
                <br>
                <br>
                <small class="text-warning" style="float: left;">
                    Warning: Please make sure you are at the exact location.
                </small>
                <br>
                <input type="hidden" id="lat" name="latitude" />
                <input type="hidden" id="lng" name="longitude" />
                <div id="locationPicker" style="border:0; border-radius:10px;width:100%; height:300px">
                    <!-- location picker body  -->
                </div>

            </div>
            <div class="col-md-6" style="margin-top:30px;">
                <label class="form-control-label" style="float: left;">Add Event Poster</label>
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="col-sm-12">
                <div class="about-btn" style="float: left;">
                    <button type="button" class="about-view add-events-btn" onclick="togglePage()">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp; Back
                    </button>
                </div>
                <div class="about-btn" style="float: right;">
                    <button type="submit" class="about-view add-events-btn">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}