{% extends "residents/template.html" %}

{% block resident %}
<table class="table text-capitalize">
    <thead>
        <tr>
            <th>sr no</th>
            <th>Title/Store Name</th>
            <th>Heading</th>
            <th>Content</th>
            <th>Image</th>
            <th>location</th>
        </tr>
    </thead>
    <tbody>
        {% for res in allOffers %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{res[2]}}</td>
            <td>{{res[3]}}</td>
            <td>{{res[4]}}</td>
            {% set imgname ="images/offers/"+res[5] %}
            <td><img src="{{ url_for('static',filename=imgname) }}" alt="" srcset="" width="100px" height="100px"></td>
            {% if res[6]!="," %}
            {% set url ="http://maps.google.de/maps?q=loc:"+res[6] %}
            <td><button class="btn btn-info text-uppercase"><a style="font-weight: 600;color:#fff;"   href="{{url}}" target="_blank">get direction <i class="fa fa-location-arrow"></i></a> </button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}