{% extends "residents/template.html" %}

{% block resident %}
<table class="table text-capitalize">
    <thead>
        <tr>
            <th>sr no</th>
            <th>Place name</th>
            <th>type</th>
            <th>description</th>
            <th>mobileno</th>
            <th>photo</th>
            <th>location</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for res in allPlaces %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{res[2]}}</td>
            <!-- <td>{{res[3]}}</td> -->
            <td>
                <ol>
                    {% set typeList = res[3].split(',') %}
                    {% for item in typeList %}
                    {% if loop.index < typeList|length %}
                    <li>{{item}}</li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </td>
            <td>{{res[4]}}</td>
            <td>{{res[5]}}</td>
            {% set imgname ="images/places/"+res[6] %}
            <td><img src="{{ url_for('static',filename=imgname) }}" alt="" srcset="" width="100px" height="100px"></td>
            {% set url ="http://maps.google.de/maps?q=loc:"+res[7] %}
            <td><button class="btn btn-info text-uppercase"><a style="font-weight: 600;color:#fff;" href="{{url}}"
                        target="_blank">get direction <i class="fa fa-location-arrow"></i></a> </button></td>
            <td>
                <a href="/resident/delete/place/{{res[0]}}" onclick="return confirm('Are you sure you want to delete?');"><i
                        class="fa fa-trash fa-2x text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}