{% extends "guide/template.html" %}
{% block navButton %}
<li class="smooth-menu">
    <a href="/logout">
        <button class="btn btn-danger"> <i class="fa fa-sign-out"> </i> Logout</button>
    </a>
</li>
{% endblock %}
{% block guide %}
<table class="table text-capitalize">
    <thead>
        <tr>
            <th>sr no</th>
            <th>Username</th>
            <th>Title/Store Name</th>
            <th>Content</th>
            <th>Image</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for res in allAdvtOffer %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{res[1]}}</td>
            <td>{{res[2]}}</td>
            <td>{{res[3]}}</td>
            {% set imgname ="images/offers/"+res[4] %}
            <td><img src="{{ url_for('static',filename=imgname) }}" alt="" srcset="" width="100px" height="100px"></td>
            <td><a href="/delete/advtoffer/{{res[0]}}"><i class="fa fa-trash fa-2x text-danger"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}