{% extends "guide/template.html" %}
{% block navButton %}
<li class="smooth-menu">
    <a href="/logout">
        <button class="btn btn-danger"> <i class="fa fa-sign-out"> </i> Logout</button>
    </a>
</li>
{% endblock %}
{% block guide %}
<table class="table text-capitalize">
    <thead>
        <tr>
            <th>sr no</th>
            <th>name</th>
            <th>email</th>
            <th>mobile</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for res in allResidents %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{res[1]}}</td>
            <td class="text-lowercase">{{res[2]}}</td>
            <td>{{res[3]}}</td>
            <td>
                <a href="/guide/delete/resident/{{res[2]}}" onclick="return confirm('Are you sure you want to delete?');"><i
                        class="fa fa-trash fa-2x text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}